**/target/

# IDE files:
## Eclipse:
.classpath
.project
.settings

## IntelliJ Idea:
*.iml
**/*.iml
.idea/

# TODO: this file should not be created there in the first place
jumbo-converters-cif/src/test/resources/dict/sam.xml

